<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
	</head>
	<body>
		<%- include('partials/nav') %>
		<section class="container album">
			<h2>Album: <%= album.title %></h2>
			<form action="/albums/<%= album._id %>/new-image" method="post" enctype="multipart/form-data">
				<div>
					<input type="file" name="add_image" placeholder="Add image" />
				</div>
				<div>
					<input type="submit" value="Add" />
				</div>
			</form>
			<div class="container album_cards">
				<div class="album_cards_card">
					<img src="http://pics.jason-fel.be/uploads/1655223753Paladium%20-%20NersPet.jpg" alt="" />
				</div>
			</div>
		</section>
		<%- include('partials/script') %>
	</body>
</html>
