<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
	</head>
	<body>
		<%- include('partials/nav') %>
		<section class="container album">
			<h2>Album: <%= album.title %></h2>
			<form action="/albums/<%= album._id %>" method="post" enctype="multipart/form-data">
				<div>
					<input type="file" name="add_image" placeholder="Add image" />
				</div>
				<div>
					<input type="submit" value="Add" />
				</div>
				<% if(errors.length){ %>
				<div class="form_error">
					<p><%= errors %></p>
				</div>
				<% } %>
			</form>
			<div class="container album_cards">
				<% album.images.forEach((i, idx) => { %>
				<div class="album_cards_card">
					<div class="album_cards_card_top">
						<img src="/uploads/albums/<%= album._id %>/<%= i %>" alt="<%= i %>" />
					</div>
					<div class="container album_cards_card_bottom">
						<a href="/albums/<%= album._id %>/delete/<%= idx %>">Delete</a>
					</div>
				</div>
				<% }) %>
			</div>
		</section>
		<%- include('partials/script') %>
	</body>
</html>
